@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>
<form action="" method="post">
    @* <input type="number" name="id" readonly />*@
    Student Name: <input type="text" name="name" placeholder="Enter your name" class="form-control" />
    CGPA: <input type="text" name="cgpa" placeholder="Enter your cgpa" class="form-control" />
    <input type="submit" value="Add Student" class="form-control" />

</form>
