@{
    ViewBag.Title = "Insert Course";
}

<h2>Insert Course</h2>
<form action="" method="post">
    @* <input type="number" name="id" readonly />*@
    Course Name: <input type="text" name="name" placeholder="Enter course name" class="form-control" />
    Pre Requisite: <input type="text" name="PreReq" placeholder="Enter pre-req for course" class="form-control" />
    <input type="submit" value="Add Course" class="form-control" />

</form>
